/* Light (300) */
@font-face {
  font-family: 'AU Passata';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/aupassata_light-webfont.woff2') format('woff2');
}

/* Regular (400) */
@font-face {
  font-family: 'AU Passata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/aupassata_rg-webfont.woff2') format('woff2');
}

/* Bold (700) */
@font-face {
  font-family: 'AU Passata';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/aupassata_bold-webfont.woff2') format('woff2');
}

body {
  font-size: 24px;
}